<div class="widewrapper main">
    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <article class="row blog-post">
                    <header>
                        <h2>Grow Your Business</h2>
                        <h3>Serve more families while saving time and expenses</h3>
                    </header>
                    <div class="body">

                        <iframe class="fc-video" src="//www.youtube.com/embed/wZUummH5IMY" frameborder="0" allowfullscreen></iframe>

                        <p>A productive website is not about your company. It’s about attracting, engaging, and winning opportunities to serve the needs of families that know nothing about your funeral home, funeral director, the services you offer, or the quality you consistently deliver.</p>
                        <p>Funeral-Choice knows how to attract and engage families in ways that establish relationships, build trust, and proves service before families ever walk through the door of a funeral home.</p>
                        <p>There’s no secrets or gimmicks involved. Simply put, we provide a rich resource of trusted news, reviews, informative material, social media, and support to our families through their periods of grief.  </p>
                        <p>While this may sound easy, it is not. Established subject experts who offer a deep understanding of the funeral industry, and the Internet; its historical facts and growing market trends, staff our company.  </p>
                        <p>Our mission is to use technology to make processes faster, easier, and more profitable for people and businesses.</p>
                        <p>Register with Funeral-Choice – the one website built exclusively to provide both, volume and sales increases for funeral directors while adding value to Families in need.</p>

                        <div class="clearfix">
                            <a href="#/register/provider" class="btn btn-tales-one">Get Started</a>
                        </div>
                    </div>
                </article>

                <hr />

                <article class="row blog-post">
                    <header>
                        <h2>How Does It Work?</h2>
                        <h3>Bid on service requests from families in need.</h3>
                    </header>
                    <div class="body">

                        <p>Though there are similar online services, Funeral-Choice is the first of its kind and strives to create the largest marketplace for facilitating memorial arrangements. Funeral-Choice is designed to streamline the funeral arrangement decision-making process between families and funeral homes. </p>
                        <p>Funeral directors need only to register their funeral home, create a profile by simply using profile editor. Once this is completed, the profile and the profile’s contact person will be alerted to available opportunities to serve families who desire to arrange memorials in your area, the moment the arrangements are made.</p>
                        <p>If your funeral home is selected by a family, they will pay 10% of the agreed upon cost for the services they request to Funeral-Choice.com via our website as deposit. The balance of the agreed upon amount will be submitted to your Funeral Home directly from the family.</p>

                        <div class="clearfix">
                            <a href="#/register/provider" class="btn btn-tales-one">Get Started</a>
                        </div>
                    </div>
                </article>

            </div>

            <aside class="col-md-4 blog-aside">

                <div class="aside-widget">
                    <header>
                        <h3>Why Use Funeral-Choice?</h3>
                    </header>
                    <div class="body">
                        <ul class="tales-list">
                            <li><span>97% of families are turning to the web to find reputable local businesses.</span></li>
                            <li><span>Funeral-Choice spends more on marketing than any individual or group of funeral homes in the country. This will enable us to attract, engage, and drive volume of potential customers to your funeral home more cost effectively.</span></li>
                            <li><span>Our experts have created our platform to please both your client families and the search engines. This will reduce the money you spend advertising, trying to become visible to online viewers and out ranking other funeral homes.</span></li>
                            <li><span>75% of families who visit a website to learn more never contact the company. Funeral-Choice reduces those lost opportunities by providing specific information that families find valuable. This results in an increasing number of new families for your firm; saving you time, effort, and expenses you’d otherwise spend trying to find them on your own.</span></li>
                        </ul>
                    </div>
                </div>

            </aside>
        </div>
    </div>
</div>




