<div class="widewrapper main">
    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <article class="row blog-post">
                    <header>
                        <h2>How To Make Funeral Arrangements and Save</h2>
                    </header>

                    <div class="body">

                        <iframe class="fc-video" src="//www.youtube.com/embed/gswBz0XcsHs" frameborder="0" allowfullscreen></iframe>

                        <p>
                            There are a lot of tips people will give you when choosing a funeral.  But they almost always require you to settle for a memorial 
							you or your loved one may not have wanted to sacrifice your funeral and burial traditions or worse. Helping to plan meaningful affordable 
							funeral services is what we do.  So before you make a decision to either spend thousands of dollars more than is needed  or to limit the 
							memorial so that it fits in a budget, we urge you to try Funeral-Choice.
                        </p>

                        <div class="clearfix">
                            <a href="#/register/consumer" class="btn btn-tales-one">Get Started</a>
                        </div>
                    </div>
                </article>

                <hr />

                <article class="row blog-post">
                    <div class="col-md-7">
                        <h2>Plan arrangements in the comfort of your own home</h2>
                        <p>
                            Plan or preplan, the meaningful affordable funeral ceremony of a loved one in the comfort and privacy of your own home. 
							We are here to help you and your family make the arrangements which best meet your religious and cultural desires as well as your budget.
                        </p>
                    </div>
                    <div class="col-md-5">
                        <img src="/Content/images/consumer_how_1.jpg" alt="Hands" class="img-responsive">
                    </div>
                </article>

                <hr />

                <article class="row blog-post">
                    <div class="col-md-5">
                        <img src="/Content/images/consumer_how_2.jpg" alt="Hands" class="img-responsive">
                    </div>
                    <div class="col-md-7">
                        <h2>Submit - and let us do the searching for you</h2>
                        <p>
                            We take the funeral arrangements you make and find high quality reputable funeral homes willing to provide what you've 
							requested at the best available prices. We save you the time of shopping around and the frustration of negotiating price so that you can focus on healing.
                        </p>
                    </div>
                </article>

                <hr />

                <article class="row blog-post">
                    <div class="col-md-7">
                        <h2>Choose - the funeral home that best fits your request</h2>
                        <p>
                            Within 24 hours, we will email you regarding the funeral homes that have agreed to provide the goods, services and ceremony you have requested. We only ask that you make a 10% deposit to confirm the arrangements and that's it!
                        </p>
                    </div>
                    <div class="col-md-5">
                        <img src="/Content/images/consumer_how_3.jpg" alt="Hands" class="img-responsive">
                    </div>
                </article>

            </div>

            <aside class="col-md-4 blog-aside">

                <div class="aside-widget">
                    <header>
                        <h3>Helpful Info</h3>
                    </header>
                    <div class="body">
                        <p>If you need to deliver a eulogy or write an obituary, or info regarding pre-planning we are here to help</p>
                        <a href="#/resources" class="btn btn-tales-one">Learn more</a>
                    </div>
                </div>

                <div class="aside-widget">
                    <header>
                        <h3>Documents</h3>
                    </header>
                    <div class="body">
                        <p>Additional resources such as commonly needed documents can be found here</p>
                        <a href="#/documents" class="btn btn-tales-one">Learn more</a>
                    </div>
                </div>

                <div class="aside-widget">
                    <header>
                        <h3>Grief Support</h3>
                    </header>
                    <div class="body">
                        <p>Coping with a loss can be tough.  You can find support in our social community</p>
                        <a href="#/support" class="btn btn-tales-one">Learn more</a>
                    </div>
                </div>

            </aside>
        </div>
    </div>
</div>

