
<div class="widewrapper main">
    <div class="container" style="min-height:450px;">
        <div class="row">

            <div class="col-md-6 col-md-offset-2" ng-show="recoveryInProgress">
                <h2>Password Reset In Progress</h2>

                <div style="padding-top:50px;">
                    <div class="alert alert-info">
                        <strong>An email has been sent to your Funeral-Choice account</strong>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-4" ng-hide="recoveryInProgress">
                
                <h2>Reset Your Password</h2>

                <div class="row">
                    <div class="form-group">
                        <span>Email </span><span class="validation-error pull-right" invalid-property property="email"></span>
                        <input class="form-control input-lg" ng-model="recoveryForm.email" value="" placeholder="">
                    </div>
                </div>


                <br />
                <div class="clearfix">
                    <a class="btn btn-tales-one pull-right" ng-click="onSubmit()">Reset Password</a>
                </div>
                <br />

                <br />
                <div>
                    <a href="#/register">Register </a><span>if you don't have an account</span>
                </div>

                <br />
                <div><span>Did you </span><a href="#/login">remember your password?</a></div>
                <br />

            </div>

        </div>
    </div>
</div>


