
<div class="widewrapper main">
    <div class="container" style="min-height:450px;">
        <br />

        <div class="alert alert-info" ng-show="success">Your password was successfully reset</div>
        <div class="alert alert-danger" ng-show="failure">Password reset attempt failed. Your reset token may have expired, please retry.</div>

        <div class="row" ng-show="!success && ! failure">

            <div class="col-md-4 col-md-offset-4">
                <h2 style="text-align:center;">Reset Your Password </h2>
                <hr />

            </div>

            <div class="row">
                <div class="form-group col-md-4 col-md-offset-4">
                    <h4>New Password</h4>
                    <input class="form-control input-lg" ng-model="password" type="password" value="" placeholder="">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4 col-md-offset-4">
                    <h4>Confirm New Password</h4>
                    <input class="form-control input-lg" ng-model="confirmPassword" type="password" value="" placeholder="">
                    <span class="validation-error pull-right" ng-show="error">{{errorMsg}}</span>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="form-group col-md-4 col-md-offset-4">
                    <a class="btn btn-tales-one pull-right" ng-click="onSubmit()">Submit Password Change</a>
                </div>
            </div>

        </div>
        </div>
</div>


