<div class="widewrapper main">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-4">
				<h2>Choose Your Account Type</h2>
			</div>
		</div>

		<br />
		<br />

		<div class="row">
			<a type="button" role="button" href="#/register/consumer" class="btn btn-tales-one btn-lg col-md-4 col-md-offset-1">
				<span>Family Member Account</span>
			</a>

			<a type="button" role="button" href="#/register/provider" class="btn btn-tales-two btn-lg col-md-4 col-md-offset-2">
				<span>Funeral Home Account</span>
			</a>
		</div>

		<br />

		<div class="row">
			<p class="col-md-5 col-md-offset-1">
				Choose family account if you are in need of mortuarial services.
			</p>

			<p class="col-md-5 col-md-offset-1">
				Choose funeral home account if you provide mortuarial services with access to families seeking services in their area.
			</p>
		</div>

	<br />
	<br />

	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<span>Already have an </span><a href="#/login">account?</a>
		</div>
	</div>

	<br />
	<br />

	</div>
</div>

