
<style>
	span {
		font-size: .8em;
	}
</style>

<div class="widewrapper main">
	<div class="container ob-container">
		<div class="col-md-5 col-md-offset-3">

			<div class="row form-group">
				<span>Email </span><span class="validation-error pull-right" invalid-property property="member.email"></span>
				<input class="form-control input-md" ng-model="registrationForm.member.email">
			</div>

			<div class="row form-group">
				<span>First Name </span><span class="validation-error pull-right" invalid-property property="member.firstName"></span>
				<input class="form-control input-md" ng-model="registrationForm.member.firstName">
			</div>

			<div class="row form-group">
				<span>Last Name </span><span class="validation-error pull-right" invalid-property property="member.lastName"></span>
				<input class="form-control input-md" ng-model="registrationForm.member.lastName">
			</div>

			<div class="row form-group" ng-show="isNew">
				<span>Password </span><span class="validation-error pull-right" invalid-property property="password"></span>
				<input type="password" class="form-control input-md" ng-model="registrationForm.password">
			</div>

			<div class="row form-group" ng-show="isNew">
				<span>Confirm Password </span><span class="validation-error pull-right" invalid-property property="confirmPassword"></span>
				<input type="password" class="form-control input-md" ng-model="registrationForm.confirmPassword">
			</div>

			<div class="row form-group" ng-show="isNew">
				<span>(Password must be at least 6 characters long)</span>
			</div>

			<div class="row form-group">
				<input type="checkbox" class="input-md" ng-model="registrationForm.member.isNotifiedOnConsumerRegistrations"><span> Is notified when a consumer registers</span>
			</div>

			<div class="row form-group">
				<input type="checkbox" class="input-md" ng-model="registrationForm.member.isNotifiedOnProviderRegistrations"><span> Is notified when a provider registers</span>
			</div>

			<div class="row form-group">
				<input type="checkbox" class="input-md" ng-model="registrationForm.member.isNotifiedOnAcceptedResponses"><span> Is notified when a quote has been accepted</span>
			</div>

			<div class="row form-group">
				<input type="checkbox" class="input-md" ng-model="registrationForm.member.isNotifiedOnExceptions"><span> Is notified when a server exception occurs</span>
			</div>
			

			<div class="row pull-right form-group">
				<a class="btn btn-sm btn-danger" ng-click="onDelete()" ng-hide="isNew">Delete Account</a>
				<a class="btn btn-sm btn-tales-two" ng-click="onSubmit()" ng-show="isNew">Create Account</a>
				<a class="btn btn-sm btn-tales-two" ng-click="onSubmit()" ng-hide="isNew">Update Account</a>
				<a class="btn btn-sm btn-default" href="#/administrators">Cancel</a>
			</div>
		</div>
	</div>
</div>


