<style>
	ul {
		font-size:13px;
	}

	.tab-content {
		padding-top: 10px;
	}
</style>

<div class="widewrapper main">
	<div class="container ob-container">

		<div>
			<div class="col-md-5 col-md-offset-1">
				<div class="alert alert-accepted notification accepted-color">
					<h4>Member: <span><b>{{ member.fullName }}</b></span></h4>
					<div class="clear"></div>

					<ul>
						<li class="arrow2"><span>Email: </span><span>{{ member.email }}</span></li>
						<li class="arrow2"><span>Status: </span><span ng-attr-account-status="{{ member.accountStatus }}"></span><span> ({{ member.accountStatus }})</span></li>
						<li class="arrow2"><span>Created: </span><span>{{ member.created.on | date:'MM/dd/yyyy @ h:mma' }}</span></li>
						<li class="arrow2"><span>Modified: </span><span>{{ member.modified.on | date:'MM/dd/yyyy @ h:mma' }}</span></li>
						<li class="arrow2"><span>ID: </span><span>{{ member.id }}</span></li>
					</ul>
				</div>
			</div>
		</div>

		<div>
			<div class="col-md-5">
				<div class="alert alert-accepted notification accepted-color">
					<h4>Portfolio: <span><b>{{ portfolio.principal.name }}</b></span></h4>
					<div class="clear"></div>

					<ul>
						<li class="arrow2"><span>Email: </span><span>{{ portfolio.principal.email }}</span></li>
						<li class="arrow2"><span>Address: </span><span>{{portfolio.principal.address.line1}}, {{portfolio.principal.address.city}}, {{portfolio.principal.address.state}} {{portfolio.principal.address.zip}}</span></li>
						<li class="arrow2"><span>Phone: </span><span>{{ portfolio.principal.phone }}</span></li>
						<li class="arrow2">
							<span ng-show="portfolio.totalResponsesAcknowledged === 1">1 quote responded</span>
							<span ng-show="portfolio.totalResponsesAcknowledged !== 1">{{ portfolio.totalResponsesAcknowledged }} quotes responded</span>
								
							<span ng-show="portfolio.totalResponsesGenerated === 1">(of 1 matched)</span>
							<span ng-show="portfolio.totalResponsesGenerated !== 1">(of {{ portfolio.totalResponsesGenerated }} matched)</span>
						</li>
						<li class="arrow2"><span>ID: </span><span>{{ portfolio.id }}</span></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clearfix" />

		<div class="tabbable tabs-left">
			<ul class="nav nav-tabs">
				<li ng-class="{active: selectedTab == 'available'}">
					<a ng-click="selectedTab = 'available'" href="">Available ({{ portfolio.responsesAvailable.length }})</a>
				</li>

				<li ng-class="{active: selectedTab == 'pending'}">
					<a ng-click="selectedTab = 'pending'" href="">Pending ({{ portfolio.responsesPending.length }})</a>
				</li>

				<li ng-class="{active: selectedTab == 'accepted'}">
					<a ng-click="selectedTab = 'accepted'" href="">Accepted ({{ portfolio.responsesAccepted.length }})</a>
				</li>

				<li ng-class="{active: selectedTab == 'rejected'}">
					<a ng-click="selectedTab = 'rejected'" href="">Rejected ({{ portfolio.responsesRejected.length }})</a>
				</li>

				<li ng-class="{active: selectedTab == 'dismissed'}">
					<a ng-click="selectedTab = 'dismissed'" href="">Dismissed ({{ portfolio.responsesDismissed.length }})</a>
				</li>
			</ul>


			<div class="tab-content">
				<div ng-switch="selectedTab">

					<div ng-switch-when="available">
						<div ng-show="portfolio.responsesAvailable.length === 0" class="alert alert-warning fade in">
							<span>No responses that are available at this time</span>
						</div>

						<div ng-repeat="response in portfolio.responsesAvailable">
							<div class="alert alert-available notification available-color" ng-click="$parent.toggleResponse(response)">
								<ul>
									<li class="arrow2"><span>Descedent: </span><strong>{{ response.principal.fullName }}</strong><i class="glyphicon glyphicon-star pull-right"></i></li>
									<li class="arrow2"><span>Distance: </span><strong>{{ response.distance }} miles ({{ response.preference.proximity.city }}, {{ response.preference.proximity.state }})</strong></li>
									<li class="arrow2"><span>Available: </span><strong>{{ response.current.on | date:'MM/dd/yyyy @ h:mma' }}</strong></li>
									<li class="arrow2"><span>ID: </span><span>{{ response.id }}</span></li>
								</ul>
                                <div class="clearfix" />
                            </div>

							<div ng-include="'/App/Templates/Shared/request-view-preferences.html'" ng-show="$parent.visibleResponseId === response.id" />
						</div>
					</div>



					<div ng-switch-when="pending">
						<div ng-show="portfolio.responsesPending.length === 0" class="alert alert-warning fade in">
							<span>No responses that are pending at this time</span>
						</div>

						<div ng-repeat="response in portfolio.responsesPending">
							<div class="alert alert-pending notification pending-color" ng-click="$parent.toggleResponse(response)">
								<ul>
									<li class="arrow2"><span>Descedent: </span><strong>{{ response.principal.fullName }}</strong><i class="glyphicon glyphicon-hand-right pull-right"></i></li>
									<li class="arrow2"><span>Distance: </span><strong>{{ response.distance }} miles ({{ response.preference.proximity.city }}, {{ response.preference.proximity.state }})</strong></li>
									<li class="arrow2"><span>Quote: </span><strong>{{ response.quote | currency:"$" }}</strong></li>
									<li class="arrow2"><span>Pending: </span><strong>{{ response.current.on | date:'MM/dd/yyyy @ h:mma' }}</strong></li>
									<li class="arrow2"><span>Available: </span><strong>{{ response.created.on | date:'MM/dd/yyyy @ h:mma' }}</strong></li>
									<li class="arrow2"><span>ID: </span><span>{{ response.id }}</span></li>
								</ul>
                                <div class="clearfix" />
                            </div>

							<div ng-include="'/App/Templates/Shared/response-view-agreements.html'" ng-show="$parent.visibleResponseId === response.id" />
						</div>
					</div>



					<div ng-switch-when="accepted">
						<div ng-show="portfolio.responsesAccepted.length === 0" class="alert alert-warning fade in">
							<span>No responses that are accepted at this time</span>
						</div>

						<div ng-repeat="response in portfolio.responsesAccepted">
							<div class="alert alert-accepted notification accepted-color" ng-click="$parent.toggleResponse(response)">
								<ul>
									<li class="arrow2"><span>Descedent: </span><strong>{{ response.principal.fullName }}</strong><i class="glyphicon glyphicon-thumbs-up pull-right"></i></li>
									<li class="arrow2"><span>Distance: </span><strong>{{ response.distance }} miles ({{ response.preference.proximity.city }}, {{ response.preference.proximity.state }})</strong></li>
									<li class="arrow2"><span>Quote: </span><strong>{{ response.quote | currency:"$" }}</strong></li>
									<li class="arrow2"><span>Deposit Paid: </span><strong>{{ response.depositPaid | currency:"$" }}</strong></li>
									<li class="arrow2"><span>Balance Due: </span><strong>{{ response.balanceDue | currency:"$" }}</strong></li>
									<li class="arrow2"><span>Accepted: </span><strong>{{ response.current.on | date:'MM/dd/yyyy @ h:mma' }}</strong></li>
									<li class="arrow2"><span>Available: </span><strong>{{ response.created.on | date:'MM/dd/yyyy @ h:mma' }}</strong></li>
									<li class="arrow2"><span>ID: </span><span>{{ response.id }}</span></li>
								</ul>
                                <div class="clearfix" />
                            </div>

							<div ng-include="'/App/Templates/Shared/response-view-agreements.html'" ng-show="$parent.visibleResponseId === response.id" />
						</div>
					</div>



					<div ng-switch-when="rejected">
						<div ng-show="portfolio.responsesRejected.length === 0" class="alert alert-warning fade in">
							<span>No responses that are rejected at this time</span>
						</div>

						<div ng-repeat="response in portfolio.responsesRejected">
							<div class="alert alert-rejected notification rejected-color" ng-click="$parent.toggleResponse(response)">
								<ul>
									<li class="arrow2"><span>Descedent: </span><strong>{{ response.principal.fullName }}</strong><i class="glyphicon glyphicon-thumbs-down pull-right"></i></li>
									<li class="arrow2"><span>Distance: </span><strong>{{ response.distance }} miles ({{ response.preference.proximity.city }}, {{ response.preference.proximity.state }})</strong></li>
									<li class="arrow2"><span>Quote: </span><strong>{{ response.quote | currency:"$" }}</strong></li>
									<li class="arrow2"><span>Rejected: </span><strong>{{ response.current.on | date:'MM/dd/yyyy @ h:mma' }}</strong></li>
									<li class="arrow2"><span>Available: </span><strong>{{ response.created.on | date:'MM/dd/yyyy @ h:mma' }}</strong></li>
									<li class="arrow2"><span>ID: </span><span>{{ response.id }}</span></li>
								</ul>
                                <div class="clearfix" />
                            </div>

							<div ng-include="'/App/Templates/Shared/response-view-agreements.html'" ng-show="$parent.visibleResponseId === response.id" />
						</div>
					</div>



					<div ng-switch-when="dismissed">
						<div ng-show="portfolio.responsesDismissed.length === 0" class="alert alert-warning fade in">
							<span>No responses that are dismissed at this time</span>
						</div>

						<div ng-repeat="response in portfolio.responsesDismissed">
							<div class="alert alert-dismissed notification dismissed-color" ng-click="$parent.toggleResponse(response)">
								<ul>
									<li class="arrow2"><span>Descedent: </span><strong>{{ response.principal.fullName }}</strong><i class="glyphicon glyphicon-thumbs-up pull-right"></i></li>
									<li class="arrow2"><span>Distance: </span><strong>{{ response.distance }} miles ({{ response.preference.proximity.city }}, {{ response.preference.proximity.state }})</strong></li>
									<li class="arrow2"><span>Dismissed: </span><strong>{{ response.current.on | date:'MM/dd/yyyy @ h:mma' }}</strong></li>
									<li class="arrow2"><span>Available: </span><strong>{{ response.created.on | date:'MM/dd/yyyy @ h:mma' }}</strong></li>
									<li class="arrow2"><span>ID: </span><span>{{ response.id }}</span></li>
								</ul>
                                <div class="clearfix" />
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
