<style>
	.td-right {
		padding-left: 10px;
	}

	.error-status {
		color: #ff0000;
	}

	label {
		font-size: .8em;
	}

	p {
		font-size: .8em;
	}
</style>

<div class="widewrapper main">
	<div class="container ob-container">

		<h3>Testing Dashboard</h3>
		<h5 style="color:#64c4ee;">{{ statusMessage }}</h5>

		<form id="payment-form">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label>Amount</label><span class="validation-error pull-right" invalid-property property="amount"></span>
						<select class="col-md-2 form-control" ng-model="payment.amount">
							<option>0.01</option>
							<option>0.02</option>
							<option>0.03</option>
							<option>0.04</option>
							<option>0.05</option>
						</select>
					</div>

					<div class="form-group">
						<label>Name of Cardholder</label><span class="validation-error pull-right" invalid-property property="cardholderName"></span>
						<input class="form-control input-md" ng-model="payment.cardholderName">
					</div>

					<div class="form-group">
						<label>Credit Card Number</label><span class="validation-error pull-right" invalid-property property="cardNumber"></span>
						<input class="form-control input-md" ng-model="payment.cardNumber">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-2">
					<label>Exp Month</label><span class="validation-error pull-right" invalid-property property="expirationMonth"></span>
					<select class="form-control" ng-model="payment.expirationMonth" ng-options="item.value as item.text for item in enum.expirationMonths"></select>
				</div>

				<div class="form-group col-md-2">
					<label>Exp Year</label><span class="validation-error pull-right" invalid-property property="expirationYear"></span>
					<select class="col-md-2 form-control" ng-model="payment.expirationYear" ng-options="item.value as item.text for item in enum.expirationYears"></select>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-2">
					<label>CVV (Security Code)</label><span class="validation-error pull-right" invalid-property property="securityCode"></span>
					<input class="form-control input-md" ng-model="payment.securityCode">
				</div>

				<div class="form-group col-md-2">
					<label>Zip Code</label><span class="validation-error pull-right" invalid-property property="postalCode"></span>
					<input class="form-control input-md" ng-model="payment.postalCode">
				</div>
			</div>

			<div class="row">
				<span class="validation-error" invalid-property property="id"></span>
				<div class="form-group" ng-show="!busy.isBusy">
					<div class="col-md-4">
						<a class="btn btn-tales-one btn-block" ng-click="onSendPayment()" ng-enabled="!isValidating && !isAuthorizing">Send Payment</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
