<body>
    <header>
        <div class="widewrapper masthead">
            <div class="container">
                <a href="#/">
					<img src="~/Content/images/landing/obsequy-logo-white-small.png" data-src-desktop="~/Content/images/landing/obsequy-logo-white.png" alt="Funeral-Choice.com" class="fc-logo">
				</a>

                <div id="mobile-nav-toggle" class="pull-right">
                    <a data-toggle="collapse" data-target=".tales-nav .navbar-collapse">
                        <i class="icon-reorder"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="widewrapper subheader">
            <div class="container">
                <div class="tales-breadcrumb">
                </div>

            </div>
        </div>
    </header>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 style="text-align: center;">Your web browser must be upgraded to run Funeral-Choice.</h2>
            <h4 style="text-align: center;">Please download one of these supported browsers:</h4>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-2 col-md-offset-2">
            <div class="thumbnail" style="padding: 30px;">
                <div class="caption">
                    <a href="http://www.mozilla.org/en-US/firefox/new/">
                        <h4 style="text-align: center;">Mozilla</h4>
                    </a>
                </div>
                <img src="~/Content/images/firefox.png" style="height: 64px;" />
                <div class="caption">
                    <a href="http://www.mozilla.org/en-US/firefox/new/">
                        <h4 style="text-align: center;">Firefox</h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="thumbnail" style="padding: 30px;">
                <div class="caption">
                    <a href="https://www.google.com/intl/en/chrome/browser/">
                        <h4 style="text-align: center;">Google</h4>
                    </a>
                </div>
                <img src="~/Content/images/chrome.png" style="height: 64px;" />
                <div class="caption">
                    <a href="https://www.google.com/intl/en/chrome/browser/">
                        <h4 style="text-align: center;">Chrome</h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="thumbnail" style="padding: 30px;">
                <div class="caption">

                    <a href="http://support.apple.com/downloads/#safari">
                        <h4 style="text-align: center;">Apple</h4>
                    </a>
                </div>
                <img src="~/Content/images/safari.png" style="height: 64px;" />
                <div class="caption">
                    <a href="http://support.apple.com/downloads/#safari">
                        <h4 style="text-align: center;">Safari</h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="thumbnail" style="padding: 30px;">
                <div class="caption">
                    <a href="http://www.microsoft.com/en-us/download/ie.aspx?q=internet+explorer">
                        <h4 style="text-align: center;">Microsoft</h4>
                    </a>
                </div>
                <img src="~/Content/images/internet-explorer.png" style="height: 64px;" />
                <div class="caption">
                    <a href="http://www.microsoft.com/en-us/download/ie.aspx?q=internet+explorer">
                        <h4 style="text-align: center;">Internet Explorer</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer>
		<div class="widewrapper footer">
			<div class="container">
				<div class="row">
					<div class="col-md-8 footer-widget">
						<h3><i class="icon-cog"></i>Contact Information</h3>

						<div class="stats">
							<div class="line">
								<span class="counter">PO BOX 1221</span><br />
								<span class="counter">Englewood Cliffs, NJ, 07632</span><br />
							</div>
							<div class="line">
								<span class="counter">Office:</span>
								<span class="caption"> (646) 402-6581</span>
							</div>
							<div class="line">
								<span class="counter">Email:</span>
								<span class="caption"><a href="mailto:support@funeral-choice.com">support@funeral-choice.com</a></span>
							</div>
						</div>
					</div>

					<div class="col-md-4 footer-widget">
						<h3><i class="icon-cog"></i>Links</h3>

						<span><a href="#/">Dashboard</a></span>
						<br />
						<span><a href="#/quotes">Quotes</a></span>
						<br />
						<span><a href="#/how/provider">How It Works</a></span>
						<br />
					</div>
				</div>
			</div>
		</div>
		<div class="widewrapper copyright">
			<div class="container">
				<span>Produced by </span><a href="http://www.synchro-soft.com">Synchronicity Software, LLC.</a><span>, Copyright 2014</span>
			</div>
		</div>
	</footer>
</body>

