

<body ng-app="appProvider">
	<header>
		<div class="widewrapper masthead">
			<div class="container">
				<a href="/">
					<!-- server redirect causes full reload (this is intentional) -->
					<img src="~/Content/images/landing/obsequy-logo-white-small.png" data-src-desktop="~/Content/images/landing/obsequy-logo-white.png" alt="Funeral-Choice.com" class="fc-logo">
				</a>

				<div id="mobile-nav-toggle" class="pull-right">
					<a data-toggle="collapse" data-target=".tales-nav .navbar-collapse">
						<i class="icon-reorder"></i>
					</a>
				</div>

				<nav class="pull-right tales-nav">
					<div class="collapse in navbar-collapse">
						<ul class="nav nav-pills navbar-nav">

							<li>
								<a href="#/home" data-toggle="collapse" data-target=".tales-nav .navbar-collapse">Dashboard</a>
							</li>
							<li>
								<a href="#/quotes" data-toggle="collapse" data-target=".tales-nav .navbar-collapse">Quotes</a>
							</li>
							<li>
								<a href="#/portfolio" data-toggle="collapse" data-target=".tales-nav .navbar-collapse">Account</a>
							</li>
							<li>
								<a href="/Security/Logoff" data-toggle="collapse" data-target=".tales-nav .navbar-collapse"><span class="fontSzAltMenu">Sign Out</span></a>
							</li>


						</ul>
					</div>
				</nav>

			</div>
		</div>

		<div class="widewrapper subheader">
			<div class="container">
				<div class="tales-breadcrumb">
				</div>
			</div>
		</div>
	</header>

	<div ng-view autoscroll="true"></div>
	<div id="spinner" style="position: fixed; top: 50%; left: 50%"></div>

	<footer>
		<div class="widewrapper footer">
			<div class="container">
				<div class="row">
					<div class="col-md-8 footer-widget">
						<h3><i class="icon-cog"></i>Contact Information</h3>

						<div class="stats">
							<div class="line">
								<span class="counter">PO BOX 1221</span><br />
								<span class="counter">Englewood Cliffs, NJ, 07632</span><br />
							</div>
							<div class="line">
								<span class="counter">Office:</span>
								<span class="caption"> (646) 402-6581</span>
							</div>
							<div class="line">
								<span class="counter">Email:</span>
								<span class="caption"><a href="mailto:support@funeral-choice.com">support@funeral-choice.com</a></span>
							</div>
						</div>
					</div>

					<div class="col-md-4 footer-widget">
						<h3><i class="icon-cog"></i>Links</h3>

						<span><a href="#/">Dashboard</a></span>
						<br />
						<span><a href="#/quotes">Quotes</a></span>
						<br />
						<span><a href="#/how/provider">How It Works</a></span>
						<br />
					</div>
				</div>
			</div>
		</div>
		<div class="widewrapper copyright">
			<div class="container">
				<span>Produced by </span><a href="http://www.synchro-soft.com">Synchronicity Software, LLC.</a><span>, Copyright 2014</span>
			</div>
		</div>
	</footer>
</body>

