<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogFile="nlog.log.txt"
      internalLogLevel="Trace">

  <targets>
    <target name="file"
            xsi:type="File"
            layout="${longdate} ${message} ${exception:format=tostring}"
            fileName="${basedir}/Server.Log.txt"
            keepFileOpen="false"
            encoding="iso-8859-2" />

    <target name="console"
            xsi:type="Console"
            layout="${message} ${exception:format=tostring}" />

    <target name="debugger"
                xsi:type="Debugger"
                layout="${message} ${exception:format=tostring}" />

    <target name="mail" xsi:type="BufferingWrapper" bufferSize="5">

      <target 
         xsi:type="Mail" 
         html="true" 
         subject="Error Received" 
         body="${message}"
         to="stiletto@synchro-soft.com"
         from="noreply@funeral-choice-demo.com"
         Encoding="UTF-8"
         smtpUsername="azure_5e96253f1a59d8ca1913e28d003302f2@azure.com"
         enableSsl="False"
         smtpPassword="jakqsxfr"
         smtpAuthentication="Basic"
         smtpServer="smtp.sendgrid.net"
         smtpPort="587"
         layout="${message} ${exception:format=tostring}"/>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="debugger" />
    <logger name="*" minlevel="Error" writeTo="mail" />
  </rules>

</nlog>