<div class="widewrapper main">
	<div class="container">
		<div class="row">
			<div class="col-md-8 blog-main">
				<article class="row blog-post">
					<header>
						<h2>Commonly Needed Forms</h2>
						<h3>Here a few forms we think you might need. Click on the document title to load a printable copy that can be filled out and given to the funeral home you've chosen.</h3>
					</header>

					<div class="feature">
						<h3><i class="glyphicons cloud"><i></i></i><a href="/Content/documents/checklist.pdf" target="_blank"><strong>Pre-Planning Checklist</strong></a></h3>
						<p>A pre-planning checklist guide you to ensure all affairs are in order</p>
					</div>

					<div class="feature">
						<h3><i class="glyphicons cloud"><i></i></i><a href="/Content/documents/release.pdf" target="_blank"><strong>Release Form</strong></a></h3>
						<p>This form authorizes the release of the human remains and any personal property of the deceased to their chosen funeral home and/or its agents</p>
					</div>

					<div class="feature">
						<h3><i class="glyphicons cloud"><i></i></i><a href="/Content/documents/embalming_authorization.pdf" target="_blank"><strong>Embalming Authorization</strong></a></h3>
						<p>Authorizes the funeral home and/or its agents permission to embalm, and or disinfect, and or preserve for burial and or other disposition of the deceased body</p>
					</div>

					<div class="feature">
						<h3><i class="glyphicons cloud"><i></i></i><a href="/Content/documents/cremation_authorization.pdf" target="_blank"><strong>Cremation (family) Authorization</strong></a></h3>
						<p>Use the following Cremation Authorization Form when the Deceased has not pre-signed a cremation authorization prior to death.  There are three places on the form that require a signature(s)</p>
					</div>

				</article>
			</div>

			<aside class="col-md-4 blog-aside">

				<div class="aside-widget">
					<header>
						<h3>Need Help Getting Started?</h3>
					</header>
					<div class="body">
						<img src="/Content/images/stack.jpg" style="width: 100%">
						<span>Here are some of the most commonly required documents when preparing for morturarial responsibilities.</span>
					</div>
				</div>

			</aside>
		</div>
	</div>
</div>











<!--<section id="headline">
    <div class="container">
        <h4>DOCUMENTS</h4>
    </div>
</section>
<section class="container">

    <div class="ten columns">
        <h2> Commonly Needed Forms</h2>
        <p>Here a few forms we think you might need.  Simply click on the document icon and a copy will load which can be printed to be filled out and given to the Funeral Home you select using our service.</p>


        <div class="clear" />



    </div>
    <div class="five columns omega offset-by-one">
        <div class="title">
            <h4>Need Help Getting Started?</h4>
        </div>
        <figure class="our-team">
            <img src="/Content/images/stack.jpg" alt="">

            <figcaption>
                <h4><strong>
                    <small>Here are some of the most commonly required documents when preparing for morturarial responsibilities.</small></strong></h4>
            </figcaption>

        </figure>
    </div>

    <hr class="vertical-space2">
</section>-->
