<div class="widewrapper main">
	<div class="container">
		<div class="row">
			<div class="col-md-12 blog-main">
				<article class="row">
					<header>
						<h2>Writing a Eulogy</h2>
					</header>
					<div class="body">

						<p>You were probably asked to deliver a eulogy because of your close relationship to the deceased, and because the family trusts you to honor his or her memory on behalf of family and friends. The family doesn't want to make you feel uncomfortable, foolish or as though your grief is on display. It's an honor they've bestowed upon you. Helping others say goodbye may turn out to be a rewarding experience. Don't worry about making mistakes. "A eulogy comes from the heart of the deliverer. I can't see how a mistake could be made as long as it [the eulogy] is honest and true," says Andrea Traunero of Hannay-Traunero Funeral Home in Tiffin, Ohio.</p>
						<p>Don't let the thought of writing intimidate you. You don't have to be a novelist to move people. Everyone has a story to tell and that's your job as a eulogist. Tell people your story.</p>
						<p>In the book "A Labor of Love: How to Write a Eulogy," author Garry Schaeffer says a eulogy should convey the feelings and experiences of the person giving the eulogy, and should be written in an informal, conversational tone. Schaeffer dispels the misconceptions that a eulogy should objectively summarize the person's life or speak for all present. "Sit down and write from the heart," says Kevin Stockham of Stockham Family Funeral Home in McPherson, Kansas.</p>
						<p>Traunero says eulogists often write about the person's attributes, memories and common times that were shared together. Sometimes they include the deceased's favorite poems, book passages, scripture verses, quotes, expressions, lines from songs or items that were written by the deceased. "Whatever is selected, it generally reflects the loved one's lifestyle," says Traunero.</p>

						<h4>These questions should get you thinking</h4>

						<ul>
							<li class="circle">﻿How did you and the deceased become close?</li>
							<li class="circle">Is there a humorous or touching event that represents the essence of your passed loved one?</li>
							<li class="circle">What did you and others love and admire about the deceased?</li>
							<li class="circle">What will you miss most about him or her?</li>
						</ul>

						<p>Some of the simplest thoughts are deeply touching and easy for those congregated to identify with. For example, "I'll miss her smile," or "I'll never forget the way he crinkled his nose when he laughed," are just as good as "I admired her selflessness."</p>
						<p>A funeral is one time you'll surely have a kind and empathetic audience. They feel for you and are on your side. You'll only have to speak for five to ten minutes, but your gift will live in the hearts of the deceased's family and friends.</p>
						<p>If you're worried about choking up or breaking down in the middle of your eulogy, you can take a moment to compose yourself, then carry on, as Schaeffer recommends, or you can have a back up person ready to step in. </p>

						<h4>Tips</h4>

						<ul>
							<li class="circle">Be honest and focus on the person's positive qualities.</li>
							<li class="circle">Humor is acceptable if it fits the personality of the deceased.</li>
							<li class="circle">"If you are inclined to be a perfectionist, lower your expectations and just do what you can given the short time-frame. </li>
							<li class="circle">Keep it brief. Five to ten minutes is the norm, but it's a good idea to verify that with the minister or funeral director.</li>
							<li class="circle">Leo Saguin recommends interviewing family and friends in his book "How to Write and Deliver a Loving Eulogy."</li>
							<li class="circle">Put the eulogy on paper - at least in outline form.</li>
							<li class="circle">If you're planning the funeral, you might want to consider having the people congregated pass a microphone or take turns standing up to share their thoughts. "It's like a lot of mini eulogies," says Stockham, "and is more spontaneous."</li>
						</ul>

					</div>
				</article>

				<hr />

				<article class="row">
					<header>
						<h2>Writing an Obituary</h2>
					</header>
					<div class="body">

						<p>Here are some helpful tips to aide in writing an obituary.</p>
						<h4>Grab a copy of your local paper</h4>

						<p>Most newspapers require obituaries to be written in a specific style, so take a look at your paper when looking for a guideline on how to write an obituary. You also should ask your funeral home if they have templates. If you plan on submitting to other newspapers, try to get a copy, or check to see if they print obits online. If you don't follow the newspaper's style, they will likely rewrite your obituary, which could introduce errors into the writeup.</p>
						<h4>S﻿et a price limit if you're on a budget</h4>

						<p>Most newspapers charge by the column inch, and lengthy tributes can cost you hundreds of dollars. Many funeral homes will include a basic obituary as part of the funeral package. If your funeral home will be submitting the obituary, ask them what the word limit is, and how much it will cost you for each additional inch. Because the word count per inch varies depending on the column width and font size used in the newspaper, call your funeral home or local newspaper and ask them roughly how many words are in a column inch for obituaries. Also ask them if there are any length restrictions. This will give you a rough idea of how much you should write.</p>
						<h4>﻿Ask for the deadline time</h4>

						<p>Most daily morning papers have a deadline of 4 or 5 p.m., so you'll want to submit your obituary as soon as possible to ensure accuracy, especially if you want it to run the next day. Newspapers often make exceptions and take obits after deadline, but just remember that doing this increases the chances that an error will appear because editors might not have enough time to proofread it.</p>
						<h4>Decide what you want to include and write the obituary</h4>

						<p>If you don't have all of the information you need, you'll want to make phone calls and gather these facts as soon as possible, preferably before you start writing. Now that you have all of the information you need, it's time to sit down and start writing.</p>
						<h4>Have someone else, preferably a close family member or friend, proof the obituary</h4>

						<p>It is always a good idea to have someone else read the obituary before you submit it to the newspaper. This person should not only check for spelling and grammatical errors, but they also should make sure you didn't leave out important family members or anything else that was inadvertently excluded. As you're writing and reading the obituary, think about how your loved one would want others to remember him/her. If fishing was his life, you should include that. But if he was in the chess club just to pass the time, you might want to leave that out. If she was close to her extended family, you might want to make an effort to get those names in and leave something else out.</p>
						<h4>Submit an electronic copy via e-mail</h4>

						<p>90 percent of all obituary errors started with people (or funeral homes) who submitted a typed or handwritten copy. Even if you type it on your computer and fax it in, someone at the newspaper will have to scan it in or retype it, increasing the chance that errors will be introduced into the obituary. If the funeral home is submitting the obituary on your behalf, make sure that they plan on e-mailing the announcement to the paper. If not, you should submit it to the newspaper yourself.</p>
						<h4>Request to receive a proof from the newspaper before your obituary is printed</h4>

						<p>You probably don't have the time or energy to worry about it at this point, but if you're concerned about errors, ask if you can see a proof before it goes to press. Most newspapers won't allow you to look at a final copy, but if you put up a big enough fuss, many papers, especially small-town papers, will honor your request (we did). You may have to come into the newspaper office or have a copy faxed to you.</p>
						<h4>﻿Submit the obituary to other newspapers</h4>

						<p>If there are other towns where your loved one lived and had a number of family or friends, you may want to submit the obituary to those newspapers. Just check those newspapers' guidelines and modify the style of the obituary as necessary.</p>

						<p>Check the obituary when it prints in the paper. If there are errors, call your newspaper to let them know. Again, if you put up enough of a fuss, they should reprint it the next day for free.</p>

					</div>
				</article>

				<hr />

				<article class="row">
					<header>
						<h2>Q&A Pre-Planning</h2>
					</header>
					<div class="body">

						<p>Here are some things to consider with thinking about pre-planning.</p>

						<h4>Why should I prearrange my funeral or burial?</h4>
						<p>When you plan ahead, you will be able to consider the many options available. You will have the opportunity to make an informed decision about your funeral and cemetery arrangements, and the form of memorial you prefer. You will be able to make choices that are meaningful to both you and your family, and you will gain peace of mind knowing your family and friends will be relieved of the emotional and financial burden often associated with making arrangements when a death occurs. In addition, by pre-funding your funeral and cemetery services, a guaranteed price contract will allow you to purchase at today's prices, free from inflationary pressures in the future. (Check to determine whether prices are guaranteed). Your local funeral or cemetery provider can help you pre-plan.</p>

						<h4>If I pre-plan and prepay my funeral, how do I know that the money will be there when I die?</h4>
						<p>It's important to remember that prearrangement is a two part transaction. The first is the funeral agreement between you and the funeral home and/or cemetery. That agreement is comprised mostly (sometimes completely depending upon your state laws) of elements that are guaranteed to be performed at no additional costs to your family once the funding is complete. The second is the actual funding of the agreement. Ironically, it's the prearrangement provider who is the most concerned with the question of the funds being available at death. That's why they carefully consider the financial soundness of where funds set aside for funeral and cemetery prearrangement agreements will be placed.</p>

						<h4>If I prepay my funeral, what happens to the interest that my money earns?</h4>
						<p>Because you have a prearranged funeral or burial agreement that is comprised of items that are guaranteed to be performed by the funeral home or cemetery at no additional cost to you, the interest (or growth if a life insurance policy) is retained by the funeral home/cemetery to offset the rising costs of those specified goods and services over time. That's the value of prearranging and pre-funding at today's costs!</p>

						<h4>Can I change any of these prepaid funeral services later?</h4>
						<p>Changes are generally possible, but be careful. When changes are made, they oftentimes affect the terms of guarantees that were created under the original agreement. In the event funds paid toward a funeral plan are excludable resources for purposes of receiving social services (SSI or Medicaid), changing the terms of that agreement could jeopardize one's qualification for assistance. It is not recommended that irrevocably assigned funeral plans be changed in any way.</p>

						<h4>What if your funeral home or cemetery changes ownership?</h4>
						<p>Prior contractual agreements are not voided simply because a change of ownership occurs. The funeral planning agreement you have with the prior ownership is carried forward with successor owners as part of the purchase agreement.</p>

						<h4>Is there a pre-payment penalty for paying off these arrangements in advance?</h4>
						<p>It's not uncommon to have a small processing fee associated with an early payment, but it should not be construed as a "penalty." In the long run, there is usually a good amount of money to be saved by paying off early. Of course, funding agreements vary. Please be sure to check the terms of your (or your proposed) funding agreement for details.</p>

						<h4>Can social services take my pre-arrangements away from me?</h4>
						<p>Take away? No. Challenge the amount being set aside to pay for an expensive funeral? Yes. Funds set aside to pay for a reasonable funeral arrangement are not counted as assets as one qualifies for social services. Your local funeral director can provide counsel regarding the amount local social services agencies consider reasonable and customary to spend on a funeral.</p>

					</div>
				</article>

			</div>
		</div>
	</div>
</div>

