<div class="widewrapper main">
	<div class="container">
		<div class="row">
			<div class="col-md-8 blog-main">
				<article class="row blog-post">
					<header>
						<h2>Dealing with Grief</h2>
						<div class="lead-image">
							<img src="/Content/images/grief.jpg" alt="Hands" class="img-responsive">
						</div>
					</header>
					<div class="body">
						<h3>Some Steps to Take</h3>
						<p>When a loved one passes away, emotions can take you on a roller-coaster ride. That stomach-dropping ache can feel like it’s hanging on for days, weeks, months, and even years. Grief is an important, painful step, as you move through dealing with the loss of a loved one. There is no one formula for this type of sorrow because we are all unique, as is the relationship we have with the person we lost.</p>
						<p>We are not certified grief counselors or professional psychologist, but thankfully, there are many websites to help overcome grief and work through these hard emotions. An online search for “Dealing with Grief” returned millions of other resources.</p>
						<p>We do feel there are definitely trends toward ways of initially understanding and dealing with your grief. Here are a few ways to work through the loss of a loved one:</p>

						<ul>
							<li><span>Be involved in planning the funeral service.</span></li>
							<li><span>Keep in contact with friends.</span></li>
							<li><span>Talk about how you feel with friends and family.</span></li>
							<li><span>Listen to music. </span></li>
							<li><span>Spend time outdoors.</span></li>
							<li><span>If you have a hobby spend some extra time doing it.</span></li>
							<li><span>Exercise is important because it causes metabolic changes that can help relieve sadness.</span></li>
							<li><span>Avoid drinking or drug use to escape your emotions.</span></li>
							<li><span>Don’t hesitate to talk to a trained professional.</span></li>
						</ul>
					</div>
				</article>

			</div>

			<aside class="col-md-4 blog-aside">

				<div class="aside-widget">
					<header>
						<h3>Recommended Reading</h3>
					</header>
					<div class="body">
						<h4>Coping with loss can be difficult, but you are not alone. Many books are available which may help during these difficult times.</h4>

						<ul class="tales-list">
							<li><a href="http://books.google.com/books?id=PRsni3dg0HMC&q=widowed&dq=widowed&hl=en&sa=X&ei=SKNeU_qnPIu2yATKk4GADQ&ved=0CEYQ6AEwAA" target="_blank">Widowed </a>
								<br />
								<small>by Dr. Joyce Brothers</small></li>
							<li><a href="http://www.randomhouse.com/book/160382/how-to-survive-the-loss-of-a-child-by-catherine-sanders" target="_blank">How to Survive the Loss of a Child </a>
								<br />
								<small>by Catherine Sanders</small></li>
							<li><a href="http://books.google.com/books/about/Grieving_Child.html?id=BdhVo9yBzMoC" target="_blank">The Grieving Child: A Parent's Guide </a>
								<br />
								<small>by Helen Fitzgerald</small></li>
							<li><a href="http://www.karnacbooks.com/Product.asp?PID=31946" target="_blank">When Parents Die: Learning to Live with the Loss of a Parent </a>
								<br />
								<small>by Rebecca Abrams</small></li>
						</ul>

						<img src="/Content/images/sittingwoman.jpg" style="width: 100%">

					</div>
				</div>

			</aside>
		</div>
	</div>
</div>


