<div>
	<div class="container" style="background-image: url(/Content/images/landing/sunshine-water.jpg); background-size: cover; max-width: 100%; width: 100%; min-width: 100px;">

		<div class="col-md-7 col-md-offset-1">
			<div class="fc-intro-message">
				<h1>Losing a loved one is hard.</h1>
				<h2>Planning a memorial shouldn't be.</h2>
				<h4><strong>Affordable funeral service planning made easy</strong></h4>
			</div>
		</div>
	</div>
</div>



<div class="widewrapper main">

	<div class="container">
		<div class="row">
			<br />
			<br />
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<article class="blog-teaser">
							<header>
								<img src="/Content/images/landing/less-time.jpg" alt="Hands">
								<h3><a href="blog-detail.html">Less Time</a></h3>
								<hr>
							</header>
							<div class="body">
								<p>Make arrangements with funeral service providers who meet your requests</p>
								<p>&nbsp;</p>
							</div>
							<div class="clearfix">
								<a href="#/register/consumer" class="btn btn-tales-one">Get Started</a>
							</div>
						</article>
					</div>

					<div class="col-md-4 col-sm-4">
						<article class="blog-teaser">
							<header>
								<img src="/Content/images/landing/less-money.jpg" alt="Hands">
								<h3><a href="blog-detail.html">Less Money</a></h3>
								<hr>
							</header>
							<div class="body">
								<p>Have the affordable funeral service they deserve</p>
								<p>No shopping around; service providers find you</p>
							</div>
							<div class="clearfix">
								<a href="#/register/consumer" class="btn btn-tales-one">Get Started</a>
							</div>
						</article>
					</div>

					<div class="col-md-4 col-sm-4">
						<article class="blog-teaser">
							<header>
								<img src="/Content/themes/tales/img/hands.png" alt="Hands">
								<h3><a href="blog-detail.html">Less Stress</a></h3>
								<hr>
							</header>
							<div class="body">
								<p>Easily make funeral arrangements across town or across the country</p>
								<p>Plan in the comfort and privacy of your own home with less worry</p>
							</div>
							<div class="clearfix">
								<a href="#/register/consumer" class="btn btn-tales-one">Get Started</a>
							</div>
						</article>
					</div>
				</div>

			</div>
		</div>

		<div class="row">
			<hr class="col-sm-10 col-md-offset-1">
		</div>

		<div class="row features">
			<div class="col-md-4 feature">
				<h3><img src="/Content/images/first_aid.png" style="width:32px;" /> Helpful Info</h3>
				<p>﻿If you need to deliver a eulogy or write an obituary, or are you looking for information regarding pre-planning, we are here to help</p>
				<div class="clearfix">
					<a href="#/resources" class="btn btn-tales-one pull-right">Learn more</a>
				</div>
			</div>
			<div class="col-md-4 feature">
				<h3><img src="/Content/images/cloud_download.png" style="width:32px;" /> Documents</h3>
				<p>Additional resources such as commonly needed documents can be found here​</p>
				<div class="clearfix">
					<a href="#/documents" class="btn btn-tales-one pull-right">Learn more</a>
				</div>
			</div>
			<div class="col-md-4 feature">
				<h3><img src="/Content/images/support.png" style="width:32px;" /> Grief Support</h3>
				<p>Coping with a loss can be tough. You can find support in our social community</p>
				<div class="clearfix">
					<a href="#/support" class="btn btn-tales-one pull-right">Learn more</a>
				</div>
			</div>
		</div>

		<div class="row">
			<br />
			<br />
		</div>
	</div>
</div>
