<div class="subject-content">
	<div>
		A New Bidding Opportunity is Available
	</div>
</div>

<div class="message-content">
	<p>
		Dear [Name],
	</p>
	<p>
		A family has requested funeral services in your area. Please login to your profile on the <a href="[Domain]">Funeral-Choice</a> website to review details of the requested services. Once you've logged in to <a href="[Domain]">Funeral-Choice</a>, you may begin submitting your response.
	</p>
	<p>
		After you have reviewed the services the family desires and you feel your funeral home would like to submit a response to this request for service, please do so ASAP. To minimize stress and anxiety, we strive to response to families as quickly as possible.
	</p>
	<p>
		<a href="[Domain]">Funeral-Choice</a> has engaged with this family successfully to this point and it is now time for us to turn them over to a reputable, quality driven funeral home such as your. Know that affordability is key to the success of your funeral home being chosen by this family, so please be as competitive as possible when submitting your price.
	</p>
</div>
