<div class="subject-content">
	<div>
		Your Quote has been Rejected
	</div>
</div>

<div class="message-content">
	<p>
		Dear [Name],
	</p>
	<p>
		Unfortunately we must inform you that a family has accepted another Funeral Home’s response to their request for funeral services.
	</p>
	<p>
		We cannot say for certain why the family chose another Funeral Home, but know that affordability is key to the success of funeral homes being chosen. So please be as competitive as possible when submitting your price to serve the next available opportunity.  If there is a way you feel we can be more helpful to your Funeral Home, please drop us an email.
	</p>
</div>