<div class="subject-content">
	<div>
		Your Quote has been Accepted
	</div>
</div>

<div class="message-content">
	<p>
		Dear [Name],
	</p>
	<p>
		Congratulations! <a href="[Domain]">Funeral-Choice</a> is please to inform you that a family has accepted your response to their request for funeral services. 
	</p>
	<p>
		Here is what you need to do now:
	</p>
	<p>
		Please login to your profile on <a href="[Domain]">Funeral-Choice</a> to revisit details of the funeral service to which you responded. Once you’ve logged in, go to your available opportunities to begin reviewing the results of the responses your funeral home has submitted.
	</p>
</div>
