<div class="message-content">
	<p>
		Dear [Member],
	</p>
	<p>
		We noticed that you created a portfolio using <a href="[Domain]">Funeral-Choice</a> and we want you to know that we are sorry for your loss and are here to help you with funeral planning.
	</p>
	<p>
		A funeral request has been created but has not been submitted. If you are ready to receive responses to your request, please submit your portfolio on <a href="[Domain]">Funeral-Choice</a> so we can match you up with funeral providers.
	</p>
	<p>
        Please do not hesitate to reach out to us if you have any questions or further concerns. Our thoughts and prayers are with you and we wish you peace
	</p>
</div>
