<div class="subject-content">
	<div>
		You have a Response to Your Request
	</div>
</div>

<div class="message-content">
	<p>
		Dear [FirstName],
	</p>
	<p>
		We are humbled that you have trusted <a href="[Domain]">Funeral-Choice</a> to help you make the arrangements that best fit your budget and honor the life of your loved-one. We are pleased to let you know that we have found Funeral Homes willing to provide the services you requested in and around the area indicated the memorial ceremony was to take place.
	</p>
	<p>
		Please login to your profile on <a href="[Domain]">Funeral-Choice</a> to review details of the funeral homes' response. Once you've logged in you may being reviewing responses submitted. After you have reviewed all the responses and made your preferred selection, here is what you can expect:
	</p>
	<ul>
		<li>A detailed view of the Funeral Home profile including contact info</li>
		<li>Release of Remains form will be made available in your profile</li>
		<li>The Funeral Home will contact right away</li>
		<li>Confirmation that remains have been received</li>
		<li>Piece of mind</li>
	</ul>
	<p>
		Now that the arrangements are almost finished, you can rejoin your family and begin the healing process. It may also a good time to consider other symbols of love and embellishments for your loved one.=09
	</p>
</div>
